@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.photos .row .col {
	padding: 0;
	cursor: pointer;
}
nav.top-nav {
	height: 110px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid rgba(0,0,0,0.14);
	background-color: transparent;
}
.header-text {
	font-weight: 300;
}
.breadcrumb {
	cursor: pointer;
}
.overlay-info{
	background-color: black;
	color: white;
	height: 50px;
	margin-top: -50px;
	position: relative;
	font-size: 18px;
	padding: 11px;
	opacity: 0.8;
}
